header {
  padding: 2rem 0 6rem;
  text-align: center;
}

fieldset {
  border: 1px solid #eeeeee;
  padding: 1rem;
  border-radius: 0.25rem;
}

legend {
  float: none;
  display: inline-block;
  padding: 0 0.5rem;
  width: auto;
}

.table-box {
  margin-bottom: 6rem;
}
